 .u-section-1 {
  background-image: url("images/BlueandPurpleModernTestimonialTwitterPost1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 618px;
}

.u-section-1 .u-text-1 {
  font-size: 2.0625rem;
  margin: 309px 63px 60px 449px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 277px;
    margin-right: 30px;
    margin-left: 377px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 236px;
    margin-left: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 215px;
    margin-left: 137px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 36.75% 50%;
    background-size: cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 219px;
    margin-right: -9px;
    margin-left: 69px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 459px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 459px;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 51px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 18px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 18px 0 0;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 18px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-image-1 {
  min-height: 459px;
  background-image: url("images/Designsanstitre44.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 655px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 655px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 40px 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-2 .u-image-1 {
    min-height: 391px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/CopiedeYourparagraphtext6.png');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 245px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 59px auto 60px;
  padding: 25px 76px 25px 74px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.25rem;
    margin-left: 398px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 50% 50%, 0% 50%;
    background-size: cover;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}