 .u-section-1 {
  background-image: url("images/PmVkADJf9NwQr9Q3JwU3hY399II.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 447px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 5.375rem;
  margin: 86px auto 0 54px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 1px 689px 0 54px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  align-self: center;
  margin: 101px 36px 60px auto;
  padding: 10px 54px 10px 52px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 520px;
    margin-left: 39px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -16px;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.479166666666667rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 309px;
    margin-left: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.583333333333334rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.6875000000000004rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 232px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 13px 0 0;
}

.u-section-2 .u-text-3 {
  margin: -16px 0 12px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/Xy0vBQWzQsTUAypWOfqckzA9MU.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 444px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 148px auto 0;
}

.u-section-3 .u-text-2 {
  width: 826px;
  margin: 1px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 75px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 105px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-gallery-1 {
  height: 944px;
  margin-top: 0;
  margin-bottom: 12px;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 109px;
  grid-template-columns: repeat(2, auto);
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-gallery-1 {
    height: 815px;
  }

  .u-section-4 .u-gallery-inner-1 {
    --gap: 37px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-gallery-1 {
    height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-gallery-1 {
    height: 1716px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    height: 1287px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    height: 810px;
  }

  .u-section-4 .u-gallery-inner-1 {
    --gap: 40px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 148px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 12px 0 28px;
}